extends include/templates/layout

block vars
    - var header_transparent = true;

append css

append content

    // Hero
    section.module-cover.parallax.text-center.fullscreen(data-background="assets/images/module-5.jpg" data-overlay="0.6")
        .container

            .row
                .col-lg-4.col-md-6.m-auto
                    .m-b-20
                        h6 Recover your account
                    .m-b-20
                        form(method='post')
                            .form-group
                                input.form-control(type='email' placeholder='Enter your email address')
                            .form-group
                                button.btn.btn-block.btn-round.btn-brand(type='submit') Send Reset Link
                    .m-b-20
                        p
                            small
                                | Remember your password? #[a(href="/sign-in.html") Login]
                                br
                                | Dont have an account? #[a(href="/sign-up2.html") Sign up]
